@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

html {
    font-family: 'Quicksand', sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    border: 2px solid black;
}